<%# <%= form_with(model: user, local: true) do |f| %> 
<%= form_with(model: user, local: true, multipart: true) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <% if user.persisted? %>
    <div class="mb-3">
      <%= f.label :avatar, "プロフィール画像", class: "form-label" %>
      <%= f.file_field :avatar, accept: 'avatar/jpeg,avatar/png,avatar/gif',class: "form-control mb-2" %>
      <%= f.hidden_field :avatar_cache %>
      
      <% if user.avatar? %>
        <div class="text-center mb-3">
          <p class="text-muted">現在の画像:</p>
          <%= image_tag user.avatar.thumb.url, class: "rounded-circle" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :username, "ユーザー名", class: "form-label" %>
    <%= f.text_field :username, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "メールアドレス", class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, 
                        class: "form-control", 
                        required: user.new_record?, 
                        placeholder: user.persisted? ? "変更する場合のみ入力" : nil %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, 
                        class: "form-control", 
                        required: user.new_record?, 
                        placeholder: user.persisted? ? "変更する場合のみ入力" : nil %>
  </div>

  <%= f.submit user.new_record? ? "アカウント作成" : "プロフィールを更新", class: "btn btn-primary w-100" %>
<% end %>