<%= search_form_for @q, class: "mb-4" do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="input-group flex-wrap">
        <%= f.search_field :title_cont, 
            placeholder: "食品名で検索",
            class: "form-control" %>
        <%= f.search_field :pickup_location_cont, 
            placeholder: "場所で検索",
            class: "form-control" %>
        <%# <%= f.date_field :expiration_date_gteq,
            <%# placeholder: "消費期限", %>
            <%# class: "form-control" %>  
        <%= f.text_field :expiration_date_gteq,
            placeholder: "消費期限",
            class: "form-control datepicker" %>
        <%= f.select :status_eq,
            FoodPost.statuses.map { |k, v| [t("enums.food_post.status.#{k}"), v] },
            { prompt: 'ステータス' },
            class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>